body {

}

.letter {
	width: 200%;
	height: 300%;
	position: relative;
	display: inline-block;
	margin: 50%;
}

/* pieces */

/* a */

/*
style the left
vertical stroke in
'a' by combining
classes
*/

.vertical {
	width: 24%;
	height: 100%;
	background: #040404;
	position: absolute;
}

.horizontal {
	width: 100%;
	height: 60%;
	background: black;
	position: absolute;
}


#a .vertical.stem.7.blocks {
  left: 175px;
	top: 127px;
}
