:root { --font-color: black; }
body { font-size: 8px; }


.m {
	position: relative;
	display: inline-block;
  vertical-align: bottom;
	width: 8em;
	height: 7em;
}

.m span:nth-of-type(1) {
	position: absolute;
		display: block;
		width: 1em;
		height: 7em;
		bottom: 0em;
		right: 5em;
		background: var(--font-color);
}
.m span:nth-of-type(2) {
	position: absolute;
		display: block;
		width: 3em;
		height: 1em;
		bottom: 6em;
		right: 5em;
		background: var(--font-color);
}

.m span:nth-of-type(3) {
	position: absolute;
		display: block;
		width: 2em;
		height: 1em;
		bottom: 5em;
		right: 3em;
		background: var(--font-color);
}


.m span:nth-of-type(4) {
	position: absolute;
		display: block;
		width: 1em;
		height: 3em;
		bottom: 3em;
		right: 3em;
		background: var(--font-color);
}



.mtwo {
	position: relative;
	display: inline-block;
  vertical-align: bottom;
	width: 4em;
	eight: 7em;
}

.mtwo span:nth-of-type(1) {
	position: absolute;
		display: block;
		width: 2em;
		height: 1em;
		bottom: 3em;
		right: 6em;
		background: var(--font-color);
}

.mtwo span:nth-of-type(2) {
	position: absolute;
		display: block;
		width: 1em;
		height: 3em;
		bottom: 3em;
		right: 5em;
		background: var(--font-color);
}

.mtwo span:nth-of-type(3) {
	position: absolute;
		display: block;
		width: 3em;
		height: 1em;
		bottom: 5em;
		right: 3em;
		background: var(--font-color);
}

.mtwo span:nth-of-type(4) {
	position: absolute;
		display: block;
		width: 1em;
		height: 6em;
		bottom: 0em;
		right: 3em;
		background: var(--font-color);
}
.a {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 6em;
    height: 7em;
}
.a span:nth-of-type(1) {
  position: absolute;
    display: block;
    width: 6em;
    height: 1em;
    top: 0;
    left: 0;
    background: var(--font-color);
}
.a span:nth-of-type(2) {
  position: absolute;
    display: block;
    width: 1em;
    height: 7em;
    top: 0;
    right: 0;
    background: var(--font-color);
}
.a span:nth-of-type(3) {
  position: absolute;
    display: block;
    width: 6em;
    height: 1em;
    bottom: 0;
    left: 0;
    background: var(--font-color);
}
.a span:nth-of-type(4) {
  position: absolute;
    display: block;
    width: 1em;
    height: 5em;
    bottom: 0;
    left: 0;
    background: var(--font-color);
}
.a span:nth-of-type(5) {
  position: absolute;
    display: block;
    width: 4em;
    height: 1em;
    top: 2em;
    left: 0;
    background: var(--font-color);
}
.a span:nth-of-type(6) {
  position: absolute;
    display: block;
    width: 1em;
    height: 3em;
    top: 2em;
    right: 2em;
    background: var(--font-color);
}
.a span:nth-of-type(7) {
  position: absolute;
    display: block;
    width: 2em;
    height: 1em;
    bottom: 2em;
    right: 2em;
    background: var(--font-color);
}
.y {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -3em;
  width: 9em;
  height: 10em;
}

.y span:nth-of-type(1) {
  position: absolute;
  display: block;
  background: var(--font-color);
  width: 1em;
  height: 6em;
  left: 2em;
  bottom: 3em;
}

.y span:nth-of-type(2) {
  position: absolute;
  display: block;
  background: var(--font-color);
  width: 2em;
  height: 1em;
  left: 0em;
  top: 1em;
}
.y span:nth-of-type(3) {
  position: absolute;
  display: block;
  background: var(--font-color);
  width: 1em;
  height: 3em;
  left: 0em;
  top: 1em;
}
.y span:nth-of-type(4) {
  position: absolute;
  display: block;
  background: var(--font-color);
  width: 3em;
  height: 1em;
  left: 3em;
  bottom: 3em;
}
.y span:nth-of-type(5) {
  position: absolute;
  display: block;
  background: var(--font-color);
  width: 1em;
  height: 9em;
  left: 6em;
  bottom: 0em;
}

.y span:nth-of-type(6) {
  position: absolute;
  display: block;
  background: var(--font-color);
  width: 4em;
  height: 1em;
  left: 2em;
  bottom: 0em;
}
.y span:nth-of-type(7) {
  position: absolute;
  display: block;
  background: var(--font-color);
  width: 6em;
  height: 1em;
  left: 2em;
  bottom: 0em;
}

.ytwo {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 3em;
  height: 3em;
}

.ytwo span:nth-of-type(1) {
  position: absolute;
  display: block;
  background: var(--font-color);
  width: 2em;
  height: 1em;
  left: -3em;
  top: -3em;
}

.ytwo span:nth-of-type(2) {
  position: absolute;
  display: block;
  background: var(--font-color);
  width: 1em;
  height: 3em;
  left: -1em;
  top: -3em;
}
.atwo {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 6em;
    height: 7em;
}
.atwo span:nth-of-type(1) {
  position: absolute;
    display: block;
    width: 6em;
    height: 1em;
    top: 0;
    left: 0;
    background: var(--font-color);
}
.atwo span:nth-of-type(2) {
  position: absolute;
    display: block;
    width: 1em;
    height: 7em;
    top: 0;
    right: 0;
    background: var(--font-color);
}
.atwo span:nth-of-type(3) {
  position: absolute;
    display: block;
    width: 6em;
    height: 1em;
    bottom: 0;
    left: 0;
    background: var(--font-color);
}
.atwo span:nth-of-type(4) {
  position: absolute;
    display: block;
    width: 1em;
    height: 5em;
    bottom: 0;
    left: 0;
    background: var(--font-color);
}
.atwo span:nth-of-type(5) {
  position: absolute;
    display: block;
    width: 4em;
    height: 1em;
    top: 2em;
    left: 0;
    background: var(--font-color);
}
.atwo span:nth-of-type(6) {
  position: absolute;
    display: block;
    width: 1em;
    height: 3em;
    top: 2em;
    right: 2em;
    background: var(--font-color);
}
.atwo span:nth-of-type(7) {
  position: absolute;
    display: block;
    width: 2em;
    height: 1em;
    bottom: 2em;
    right: 2em;
    background: var(--font-color);
}
.mline1{
position: absolute;
display: inline-block;
vertical-align: bottom;
width: 8em;
height: 7em;
}

.mline1 span:nth-of-type(1) {
  position: absolute;
    display: block;
    width: 1em;
    height: 3em;
    bottom: 2em;
    right: 2em;
    background: var(--font-color);
}
