:root { --font-color: black; }
body { font-size: 8px; },
{--baseKern: 5px; }

h1 { font-size: 20px; }
h2 { font-size: 4px; margin: -140px 0 0 70px; }
h2 > span:nth-of-type(2) { bottom: -5px; position: relative; }
p { font-size: 8px; margin-top: 20px; line-height: 20em; } /* line-height = leading */

/* all letters and numbers OUTER spans */
span[class] {
position: relative;
display: inline-block;
vertical-align: bottom;
margin-top: 0;
margin-right: 0;
margin-bottom: 3em;
margin-left: 0.25em; /* tracking */
transform: scale(1, 1);
transition: transform 0.25s;
}

span[class]:hover {
	transform: scale(0.75, 1.25);
}

/* all letters and numbers INNER spans */
span[class] span {
position: absolute;
display: block;
background: var(--font-color);
}
.space {
width: 5em; /* word spacing */
}
/* A ************************************************* A */
.a {
width: 6em;
height: 7em;
}
                .a span:nth-of-type(1) {
                          	width: 6em;
                          	height: 1em;
                          	top: 0;
                          	left: 0;
                }
                .a span:nth-of-type(2) {
                          	width: 1em;
                          	height: 7em;
                          	top: 0;
                          	right: 0;
                }
                .a span:nth-of-type(3) {
                          	width: 6em;
                          	height: 1em;
                          	bottom: 0;
                          	left: 0;
                }
                .a span:nth-of-type(4) {
                          	width: 1em;
                          	height: 5em;
                          	bottom: 0;
                          	left: 0;
                }
                .a span:nth-of-type(5) {
                          	width: 4em;
                          	height: 1em;
                          	top: 2em;
                          	left: 0;
                }
                .a span:nth-of-type(6) {
                          	width: 1em;
                          	height: 3em;
                          	top: 2em;
                          	right: 2em;
                }
                .a span:nth-of-type(7) {
                          	width: 2em;
                          	height: 1em;
                          	bottom: 2em;
                          	right: 2em;
                }
                /* B ************************************************* B */
                .b {
                	width: 6em;
                	height: 11em;
                }
                .b span:nth-of-type(1) {
                          	width: 1em;
                          	height: 11em;
                          	top: 0;
                          	left: 0;
                }
                .b span:nth-of-type(2) {
                          	width: 6em;
                          	height: 1em;
                          	bottom: 0;
                          	left: 0;
                }
                .b span:nth-of-type(3) {
                          	width: 1em;
                          	height: 6em;
                          	bottom: 0;
                          	right: 0;
                }
                .b span:nth-of-type(4) {
                          	width: 4em;
                          	height: 1em;
                          	bottom: 5em;
                          	right: 0;
                 }
                .b span:nth-of-type(5) {
                          	width: 1em;
                          	height: 3em;
                          	bottom: 3em;
                          	left: 2em;
                }
                .b span:nth-of-type(6) {
                          	width: 2em;
                          	height: 1em;
                          	bottom: 3em;
                          	left: 2em;
                }
                /* C ************************************************* C */
                .c {
                	position: relative;
                    display: inline-block;
                	vertical-align: bottom;
                	width: 6em;
                	height: 6em;
                }
                .c span:nth-of-type(1){
                		width: 6em;
                		height: 1em;
                }

                .c span:nth-of-type(2){
                		width: 1em;
                		height: 6em;
                }

                .c span:nth-of-type(3){
                	width: 6em;
                	height: 1em;
                	bottom: 0em;
                }
                /* D ************************************************* D */
                .d {
                		width: 6em;
                		height: 11em;
                }
                .d span:nth-of-type(1){
                		width: 1em;
                		height: 6em;
                		bottom: 0em;
                }
                .d span:nth-of-type(2){
                		width: 6em;
                		height: 1em;
                		bottom: 0em;
                }
                .d span:nth-of-type(3){
                		width: 4em;
                		height: 1em;
                		bottom: 5em;
                }
                .d span:nth-of-type(4){
                		width: 1em;
                		height: 3em;
                		right: 2em;
                		bottom: 3em;
                }
                .d span:nth-of-type(5){
                		width: 2em;
                		height: 1em;
                    	bottom: 3em;
                		right:  2em;
                }
                .d span:nth-of-type(6){
                		width: 1em;
                		height: 11em;
                		bottom: 0em;
                		right: 0em;
                }
                /* E ************************************************* E */
                .e {
                		width: 6em;
                		height: 6em;
                }
                .e span:nth-of-type(1){
                			width: 1em;
                			height: 6em;
                			bottom: 0em;
                }
                .e span:nth-of-type(2){
                			width: 5em;
                			height: 1em;
                			right: 0em;
                }
                .e span:nth-of-type(3){
                			width: 6em;
                			height: 1em;
                			bottom: 0em;
                }
                .e span:nth-of-type(4){
                	 		width: 1em;
                	 		height: 3em;
                	 		bottom: 3em;
                	 		right: 0em;
                }
                .e span:nth-of-type(5){
                			width: 4em;
                			height: 1em;
                			bottom: 3em;
                			right: 0em;

                }

                /* F ************************************************* F */

                .f {
                	width: 8em;
                	height: 14em;
                  	margin-bottom: -3em !important;
                }
                .f span:nth-of-type(1) {
                          	width: 3em;
                          	height: 1em;
                          	bottom: 0;
                          	left: 0;
                }
                .f span:nth-of-type(2) {
                          	width: 1em;
                          	height: 14em;
                          	bottom: 0;
                          	left: 3em;
                }
                .f span:nth-of-type(3) {
                          	width: 5em;
                          	height: 1em;
                          	top: 5em;
                          	left: 1em;
                }
                .f span:nth-of-type(4) {
                          	width: 5em;
                          	height: 1em;
                          	top: 0;
                          	left: 3em;
                }
                .f span:nth-of-type(5) {
                          	width: 1em;
                          	height: 3em;
                          	top: 0;
                          	right: 0;
                      	}
                .f span:nth-of-type(6) {
                          	width: 3em;
                          	height: 1em;
                          	top: 2em;
                          	right: 0;
                 }
                /* G ************************************************* G */

                .g {
                	width: 6em;
                	height: 9em;
                    margin-bottom: -3em !important;
                }
                .g span:nth-of-type(1) {
                	width: 2em;
                	height: 1em;
                    top: 2em;
                	left: 2em;
                }
.g span:nth-of-type(2) {
                	width: 1em;
                	height: 3em;
                    top: 2em;
                	left: 3em;
                }
                .g span:nth-of-type(3) {
                	width: 4em;
                	height: 1em;
                    top: 4em;
                	left: 0;
                }
                .g span:nth-of-type(4) {
                	width: 1em;
                	height: 5em;
                    top: 0;
                	left: 0;
                }
                .g span:nth-of-type(5) {
                	width: 6em;
                	height: 1em;
                    top: 0;
                	left: 0;
                }
                .g span:nth-of-type(6) {
                	width: 1em;
                	height: 9em;
                    top: 0;
                	right: 0;
                }
                .g span:nth-of-type(7) {
                	width: 6em;
                	height: 1em;
                    bottom: 0;
                	left: 0;
                }
.g span:nth-of-type(8) {
                	width: 1em;
                	height: 3em;
                    bottom: 0;
                	left: 0;
}
.g span:nth-of-type(9) {
                	width: 4em;
                	height: 1em;
                    bottom: 2em;
                	left: 0;
}

/* H ************************************************* H */
.h {
                		width: 5em;
                		height: 12em;

                }
                .h span:nth-of-type(1) {
                				width: 1em;
                				height: 12em;
                				bottom: 0em;
                				left: 0em;
                }
                .h span:nth-of-type(2) {
                				width: 5em;
                				height: 1em;
                				bottom: 5em;
                        		right: 0em;
                }
                .h span:nth-of-type(3) {
                				width: 1em;
                				height: 6em;
                				bottom: 0em;
                				right: 0em;

                }

                /* I ************************************************* I */
                .i {
                				width: 3em;
                				height: 10em;
                }
                .i span:nth-of-type(1) {
                				width: 1em;
                				height: 6em;
                				bottom: 0em;
                }
.i span:nth-of-type(2) {
  width: 2em;
  height: 1em;
  top:  2em;
  left: 0em;
}

.i span:nth-of-type(3){
  width: 1em;
  height: 2em;
  top: 1em;
  left: 0em;
}
.i span:nth-of-type(4){
  width: 2em;
  height: 1em;
  top: 0em;
  left: 0em;
  }
.i span:nth-of-type(5){
width: 1em;
height: 2em;
top: 1em;
left: 2em;
}
                /* J ************************************************* J */
                .j {
                	margin-bottom: -2em !important;
                		width: 7em;
                		height: 15em;
                }

                .j span:nth-of-type(1) {
                				width: 1em;
                				height: 11em;
                				bottom: 0em;
                				right: 1em;
                }
                .j span:nth-of-type(2) {
                        width: 5em;
                        height: 1em;
                        bottom: 0em;
                        right: 2em;
                }

                .j span:nth-of-type(3) {
                        width: 1em;
                        height: 2em;
                        bottom: 1em;
                        left:  0em;
                }
                .j span:nth-of-type(4) {
                        width: 2em;
                        height: 1em;
                        bottom: 2em;
                        left:  1em;
                }

                .j span:nth-of-type(5) {
                        width: 2em;
                        height: 1em;
                        top: 2em;
                        right:  1em;
                }
                .j span:nth-of-type(6) {
                        width: 1em;
                        height: 2em;
                        top: 1em;
                        right:  2em;
                }

                .j span:nth-of-type(7) {
                        width: 1em;
                        height: 2em;
                        top: 1em;
                        right:  0em;
                }
                .j span:nth-of-type(8) {
                        width: 2em;
                        height: 1em;
                        top: 0em;
                        right:  1em;
                }
                /* K ************************************************* K */
                .k {
                	width: 7em;
                	height: 11em;
                }
                .k span:nth-of-type(1) {
                		width: 1em;
                		height: 11em;
                		bottom: 0em;
                		right: 4em;
                }
                .k span:nth-of-type(2) {
                		width: 3em;
                		height: 1em;
                		bottom: 5em;
                		right: 1em;
                }
                .k span:nth-of-type(3) {
                		width: 2em;
                		height: 1em;
                		bottom: 10em;
                		right: 5em;
                }
                .k span:nth-of-type(4) {
                		width: 1em;
                		height: 5em;
                		bottom: 0em;
                		right: 1em;
                }
                .k span:nth-of-type(5) {
                		width: 1em;
                		height: 1em;
                		bottom: 0em;
                		right: 0em;
                }
                .k span:nth-of-type(6) {
                		width: 2em;
                		height: 1em;
                		bottom: 7em;
                		right: 2em;
                }
                .k span:nth-of-type(7) {
                		width: 1em;
                		height: 3em;
                		bottom: 7em;
                		right: 1em;
                }
                .k span:nth-of-type(8) {
                    width: 2em;
                    height: 1em;
                    top: 1em;
                    right: 0em;
                }

                /* L ************************************************* L */
                .l {
                	position: relative;
                	display: inline-block;
                    vertical-align: bottom;
                	width: 1em;
                	height: 11em;
                }
                .l span:nth-of-type(1) {
                	width: 1em;
                	height: 11em;
                	bottom: 0em;
                	right: 0em;
                }

                /* M ************************************************* M */
                .m {
                	position: relative;
                	display: inline-block;
                    vertical-align: left;
                	width: 9em;
                	height: 7em;
                  left: 0em;
                }
                .m span:nth-of-type(1) {
                		width: 1em;
                		height: 7em;
                		bottom: 0em;
                		right: 6em;

                }
                .m span:nth-of-type(2) {
                		width: 3em;
                		height: 1em;
                		bottom: 6em;
                		right: 6em;
                }

                .m span:nth-of-type(3) {
                		width: 2em;
                		height: 1em;
                		bottom: 5em;
                		right: 4em;
                }
                .m span:nth-of-type(4) {
                		width: 1em;
                		height: 0em;
                		bottom: 3em;
                		right: 3em;
                }
                .m span:nth-of-type(5) {
                		width: 2em;
                		height: 1em;
                		top: 1em;
                		right: 1em;
                }

                .m span:nth-of-type(6) {
                		width: 1em;
                		height: 6em;
                		bottom: 0em;
                		right: 0em;
                }

                .m span:nth-of-type(7) {
                	width: 1em;
                	height: 1em;
                	bottom: 5em;
                	right: 8em;
                }
                .m span:nth-of-type(8) {
                		width: 1em;
                		height: 0em;
                		bottom: 3em;
                		right: 1em;
                }
                .m span:nth-of-type(9) {
                    width: 3em;
                    height: 1em;
                    top: 2em;
                    right: 2em;
                }
                /* N ************************************************* N */
                  .n {
                  	position: relative;
                  	display: inline-block;
                      vertical-align: bottom;
                  	width: 7em;
                  	height: 7em;
                  }
                  .n span:nth-of-type(1) {
                  		width: 1em;
                  		height: 7em;
                  		bottom: 0em;
                  		left: 2em;
                  }

                  .n span:nth-of-type(2) {
                  		width: 4em;
                  		height: 1em;
                  		top: 1em;
                  		right: 1em;
                  }
                  .n span:nth-of-type(3) {
                  		width: 1em;
                  		height: 6em;
                  		top: 1em;
                  		right: 0em;
                  }
                  .n span:nth-of-type(4) {
                  		width: 2em;
                  		height: 1em;
                  		top: 0em;
                  		left: 0em;
                  }
                  .n span:nth-of-type(5) {
                  		width: 1em;
                  		height: 1em;
                  		top: 1em;
                  		left: 0em;
                  }

                /* O ************************************************* O */
                .o {
                	width: 7em;
                	height: 6em;
                }
                .o span:nth-of-type(1) {
                		width: 1em;
                		height: 6em;
                		top: 0em;
                		left: 0em;
                }
                .o span:nth-of-type(2) {
                		width: 6em;
                		height: 1em;
                		top: 0em;
                		left: 0em;
                }
                .o span:nth-of-type(3) {
                		width: 1em;
                		height: 6em;
                		top: 0em;
                		left: 6em;
                }

                .o span:nth-of-type(4) {
                		width: 5em;
                		height: 1em;
                		bottom: 0em;
                		right: 0em;
                }
                .o span:nth-of-type(5) {
                		width: 1em;
                		height: 3em;
                		bottom: 1em;
                		left: 2em;
                }
                .o span:nth-of-type(6) {
                		width: 1em;
                		bottom: 3em;
                		left: 4em;
                }
                /* P ************************************************* P */
                .p {
                  margin-bottom: -2em !important;
                	width: 9em;
                	height: 11em;
                }
                .p span:nth-of-type(1) {
                		width: 1em;
                		height: 10em;
                		top: 0em;
                		left: 2em;
                }
                .p span:nth-of-type(2) {
                		width: 6em;
                		height: 1em;
                		top: 0em;
                		left: 3em;
                }
                .p span:nth-of-type(3) {
                		width: 1em;
                		height: 6em;
                		top: 0em;
                		left: 8em;
                }
                .p span:nth-of-type(4) {
                		width: 4em;
                		height: 1em;
                		bottom: 5em;
                		right: 1em;
                }
                .p span:nth-of-type(5) {
                	position: absolute;
                		display: block;
                		width: 1em;
                		height: 3em;
                		bottom: 5em;
                		left: 4em;
                		background: var(--font-color);
                }
                .p span:nth-of-type(6) {
                		width: 1em;
                		height: 1em;
                		bottom: 7em;
                		left: 5em;
                }

                .p span:nth-of-type(7) {
                		width: 3em;
                		height: 1em;
                		bottom: 0em;
                		right: 6em;
                }
                .p span:nth-of-type(8) {
                		width: 1em;
                		height: 1em;
                		bottom: 1em;
                		right: 8em;
                }
                /* Q ************************************************* Q */
                .q {
                	margin-bottom: -2em !important;
                	width: 9em;
                	height: 11em;
                }
                .q span:nth-of-type(1) {
                width: 1em;
                height: 6em;
                right: 8em;
                top:  0em;
                }
                .q span:nth-of-type(2) {
                width: 6em;
                height: 1em;
                right: 2em;
                top: 0em;
                }
                .q span:nth-of-type(3) {
                width: 4em;
                height: 1em;
                right: 4em;
                bottom: 5em;
                }
                .q span:nth-of-type(4) {
                width: 1em;
                height: 2em;
                right: 4em;
                bottom: 5em;
                }
                .q span:nth-of-type(5) {
                width: 2em;
                height: 1em;
                right: 4em;
                bottom: 7em;
                }
                .q span:nth-of-type(6) {
                width: 1em;
                height: 10em;
                right: 2em;
                bottom: 0em;
                }
                .q span:nth-of-type(7) {
                width: 3em;
                height: 1em;
                right: 0em;
                bottom: 0em;
                }
                .q span:nth-of-type(8) {
                width: 1em;
                height: 1em;
                right: 0em;
                bottom: 1em;
                }
                /* R ************************************************* R */
                .r {
                	position: relative;
                	display: inline-block;
                  vertical-align: bottom;
                	width: 8em;
                	height: 7em;
                }
                .r span:nth-of-type(1) {
                width: 1em;
                height: 7em;
                left: 2em;
                bottom: 0em;
                }
                .r span:nth-of-type(2) {
                width: 5em;
                height: 1em;
                left: 3em;
                top: 1em;
                }
                .r span:nth-of-type(3) {
                width: 2em;
                height: 1em;
                left: 0em;
                top: 0em;
                }
                .r span:nth-of-type(4) {
                width: 1em;
                height: 1em;
                left: 0em;
                top: 1em;
                }
                .r span:nth-of-type(5) {
                  width: 1em;
                  height: 1em;
                  right: 0em;
                  top: 2em;
                }
                /* S ************************************************* S */
                .s {
                	position: relative;
                	display: inline-block;
                    vertical-align: bottom;
                	width: 6em;
                	height: 7em;
                }
                .s span:nth-of-type(1) {
                width: 6em;
                height: 1em;
                left: 0em;
                top: 1em;
                }
                .s span:nth-of-type(2) {
                width: 1em;
                height: 1em;
                right:  0em;
                bottom: 4em;
                }
                .s span:nth-of-type(3) {
                width: 1em;
                height: 2em;
                left: 0em;
                top: 2em;
                }
                .s span:nth-of-type(4) {
                width: 5em;
                height: 1em;
                left: 0em;
                top: 4em;
                }
                .s span:nth-of-type(5) {
                width: 1em;
                height: 3em;
                right: 0em;
                top: 4em;
                }
                .s span:nth-of-type(6) {
                width: 5em;
                height: 1em;
                right: 1em;
                top: 6em;
                }
                /* T ************************************************** T */
                .t {
                	position: relative;
                	display: inline-block;
                    vertical-align: bottom;
                	width: 6em;
                	height: 11em;
                }
                .t span:nth-of-type(1) {
                  height: 11em;
                  width: 1em;
                  left: 2em;
                }
                .t span:nth-of-type(2) {
                  height: 1em;
                  width: 3em;
                  left: 3em;
                  bottom: 0em;
                }
                .t span:nth-of-type(3) {
                    height: 1em;
                    width: 5em;
                    left: 0em;
                    bottom: 6em;
                 }
                .t span:nth-of-type(4) {
                      height: 1em;
                      width: 1em;
                      left: 1em;
                      top: 0em;
                }

                /* U ************************************************* U */
                .u {
                      	position: relative;
                      	display: inline-block;
                        vertical-align: bottom;
                      	width: 8em;
                      	height: 6em;
                 }
                .u span:nth-of-type(1) {
                  height: 6em;
                  width: 1em;
                  bottom: 0em;
                }

.u span:nth-of-type(2) {
                  width: 8em;
                  bottom: 0em;
                  height: 1em;
}
.u span:nth-of-type(3) {
                  width: 1em;
                  height: 6em;
                  right: 2em;
                  bottom: 0em;
}
.u span:nth-of-type(4) {
                  width: 1em;
                  height: 1em;
                  right: 0em;
                  bottom: 1em;
}
/* V ************************************************* V */
                .v {
                  position: relative;
                  display: inline-block;
                  vertical-align: bottom;
                  width: 9em;
                  height: 6em;
                }

.v span:nth-of-type(1) {
                  width: 3em;
                  height: 1em;
                  right: 6em;
                  bottom: 5em;
}
                .v span:nth-of-type(2) {
                  width: 1em;
                  height: 6em;
                  right: 6em;
                  bottom: 0em;
                }
                .v span:nth-of-type(3) {
                  width: 4em;
                  height: 1em;
                  left: 3em;
                  bottom: 0em;
                }
                .v span:nth-of-type(4) {
                  width: 1em;
                  height: 6em;
                  left: 6em;
                  bottom: 0em;
                }
                .v span:nth-of-type(5) {
                  width: 3em;
                  height: 1em;
                  left: 6em;
                  bottom: 5em;
                }
                /* W ************************************************* W */
                .w {
                  position: relative;
                  display: inline-block;
                  vertical-align: bottom;
                  width: 11em;
                  height: 6em;
                }
                .w span:nth-of-type(1) {
                  width: 1em;
                  height: 6em;
                  left: 1em;
                  bottom: 0em;
                }
                .w span:nth-of-type(2) {
                  width: 2em;
                  height: 1em;
                  bottom: 0em;
                  left: 2em;
                }
                .w span:nth-of-type(3) {
                    width: 1em;
                    height: 3em;
                    bottom: 0em;
                    left: 4em;
                  }
                 .w span:nth-of-type(4) {
                        width: 1em;
                        height: 3em;
                        bottom: 0em;
                        left: 6em;
                }
                .w span:nth-of-type(5) {
                      width: 4em;
                      height: 1em;
                      bottom: 0em;
                      right: 1em;
                }
                .w span:nth-of-type(6) {
                      width: 3em;
                      height: 1em;
                      bottom: 3em;
                      right: 4em;
                }
                .w span:nth-of-type(7) {
                      width: 1em;
                      height: 6em;
                      bottom: 0em;
                      right: 1em;
                }
                .w span:nth-of-type(8) {
                      width: 1em;
                      height: 1em;
                      bottom: 5em;
                      left: 0em;
                }
                .w span:nth-of-type(9) {
                      width: 1em;
                      height: 1em;
                      top: 0em;
                      right: 0em;
                }
                /* X ************************************************* X */
                .x {
                  position: relative;
                  display: inline-block;
                  vertical-align: bottom;
                  width: 9em;
                  height: 7em;
                }
                .x span:nth-of-type(1) {
                      width: 2em;
                      height: 1em;
                      top: 0em;
                      left: 0em;
                }

                .x span:nth-of-type(2) {
                      width: 1em;
                      height: 3em;
                      bottom: 4em;
                      left: 7em;
                }
                .x span:nth-of-type(3) {
                      width: 3em;
                      height: 1em;
                      bottom: 4em;
                      right: 1em;
                }
                .x span:nth-of-type(4) {
                      width: 2em;
                      height: 1em;
                      bottom: 0em;
                      right: 0em;
                }
                .x span:nth-of-type(5) {
                      width: 1em;
                      height: 2em;
                      bottom: 0em;
                      right: 1em;
                }
                .x span:nth-of-type(6) {
                      width: 3em;
                      height: 1em;
                      bottom: 2em;
                      left: 5em;
                }
                .x span:nth-of-type(7) {
                      width: 1em;
                      height: 3em;
                      bottom: 2em;
                      left: 4em;
                }
                .x span:nth-of-type(8) {
                      width: 3em;
                      height: 1em;
                      bottom: 2em;
                      left: 2em;
                }
                .x span:nth-of-type(9) {
                      width: 3em;
                      height: 1em;
                      bottom: 4em;
                      left: 2em;
                }
                .x span:nth-of-type(10) {
                      width: 1em;
                      height: 3em;
                      bottom: 4em;
                      left: 1em;
                }
                .x span:nth-of-type(11) {
                      width: 1em;
                      height: 3em;
                      bottom: 0em;
                      left: 1em;
                }
                .x span:nth-of-type(12) {
                      width: 2em;
                      height: 1em;
                      bottom: 0em;
                      left: 0em;
                }
                .x span:nth-of-type(13) {
                      width: 2em;
                      height: 1em;
                      top: 0em;
                      right: 0em;
                }

                /* Y ************************************************* Y */
                .y {
                  margin-bottom: 0em !important;
                  width: 9em;
                  height: 9em;
                }
                .y span:nth-of-type(1) {
                  width: 1em;
                  height: 6em;
                  left: 2em;
                  bottom: 3em;
                }
                .y span:nth-of-type(2) {
                  width: 2em;
                  height: 1em;
                  left: 1em;
                  top: 0em;
                }
                .y span:nth-of-type(3) {
                  width: 1em;
                  height: 3em;
                  left: 0em;
                  top: 0em;
                }
                .y span:nth-of-type(4) {
                  width: 3em;
                  height: 1em;
                  left: 3em;
                  bottom: 3em;
                }
                .y span:nth-of-type(5) {
                  width: 1em;
                  height: 8em;
                  left: 6em;
                  bottom: 1em;
                }
                .y span:nth-of-type(6) {
                  width: 4em;
                  height: 1em;
                  left: 2em;
                  bottom: 0em;
                }
                .y span:nth-of-type(7) {
                  width: 5em;
                  height: 1em;
                  left: 2em;
                  bottom: 0em;
                }
                .y span:nth-of-type(8) {
                  width: 3em;
                  height: 1em;
                  right: 0em;
                  top: 0em;
                }
                .y span:nth-of-type(9) {
                  width: 1em;
                  height: 2em;
                  right: 0em;
                  top: 1em;
                }
.y span:nth-of-type(10){
  bottom: 0em;
  left: 2em;
  height: 2em;
  width: 1em;
}

                /* Z ************************************************* Z */
                .z {
                  position: relative;
                  display: inline-block;
                  vertical-align: bottom;
                  width: 6em;
                  height: 7em;
                  }

                .z span:nth-of-type(1) {
                  width: 6em;
                  height: 1em;
                  top: 0em;
                  right: 0em;
                }
                .z span:nth-of-type(2) {
                  width: 6em;
                  height: 1em;
                  bottom: 0em;
                  right: 0em;
                }
                .z span:nth-of-type(3) {
                  width: 6em;
                  height: 1em;
                  bottom: 3em;
                  right: 0em;
                }
                .z span:nth-of-type(4) {
                  width: 1em;
                  height: 3em;
                  bottom: 0em;
                  left: 0em;
                }
                .z span:nth-of-type(5) {
                  width: 1em;
                  height: 3em;
                  top: 0em;
                  right: 0em;
                }
                .z span:nth-of-type(6) {
                  width: 1em;
                  height: 1em;
                  top: 1em;
                  left: 0em;
                }
                .z span:nth-of-type(7) {
                  width: 1em;
                  height: 1em;
                  bottom: 1em;
                  right: 0em;
                }
  /* 0 ************************************************* 0 */
._0 {
  width: 6em;
  height: 9em;
}
._0 span:nth-of-type(1) {
height: 9em;
width: 1em;
left: 0em;
top: 0em;
}

._0 span:nth-of-type(2) {
height: 9em;
width: 1em;
left: 5em;
top: 0em;
}
._0 span:nth-of-type(3) {
height: 1em;
width: 5em;
left: 1em;
top: 0em;
}
._0 span:nth-of-type(4) {
height: 1em;
width: 5em;
left: 1em;
bottom: 0em;
}
/*1 ******************************************************** 1*/
._1{
  width: 1em;
  height: 10em;
}

._1 span:nth-of-type(1){
  height: 9em;
  width: 1em;
  bottom: 0em;
}

._2{
  width: 6em;
  height: 10em;
}

._2 span:nth-of-type(1){
  width: 6em;
  height: 1em;
  top: 1em;

}

._2 span:nth-of-type(2){
  width: 1em;
  height: 5em;
  top: 1em;
  right: 0em;
}
._2 span:nth-of-type(3){
  width: 6em;
  height: 1em;
  bottom: 0em;
  right: 0em;
}
._2 span:nth-of-type(4){
  width: 6em;
  height: 1em;
  bottom: 4em;
  right: 0em;
}
._2 span:nth-of-type(5){
  width: 1em;
  height: 3em;
  bottom: 0em;
  right: 0em;
}
._2 span:nth-of-type(6){
  width: 1em;
  height: 4em;
  bottom: 0em;
  left: 0em;
}
._2 span:nth-of-type(7){
  width: 2em;
  height: 1em;
  bottom: 2em;
  right: 1em;
}
._3{
  width: 6em;
  height: 10em;
}
._3 span:nth-of-type(1){
  width: 1em;
  height: 9em;
  bottom: 0em;
  right: 0em;
}
._3 span:nth-of-type(2){
  width: 6em;
  height: 1em;
  top: 1em;
  right: 0em;
}
._3 span:nth-of-type(3){
  width: 6em;
  height: 1em;
  bottom: 0em;
  right: 0em;
}
._3 span:nth-of-type(4){
  width: 6em;
  height: 1em;
  bottom: 4em;
  right: 0em;
}

._4{
  width: 6em;
  height: 10em;
}

._4 span:nth-of-type(1){
  width: 1em;
  height: 5em;
  bottom: 4em;
  left: 0em;
}
._4 span:nth-of-type(2){
  width: 1em;
  height: 9em;
  bottom: 0em;
  right: 0em;
}
._4 span:nth-of-type(3){
  width: 5em;
  height: 1em;
  bottom: 4em;
  right: 0em;
}
._5{
  width: 6em;
  height: 10em;
}

._5 span:nth-of-type(1){
  width: 5em;
  height: 1em;
  bottom: 0em;
  right: 0em;
}
._5 span:nth-of-type(2){
  width: 6em;
  height: 1em;
  top: 1em;
  right: 0em;
}
._5 span:nth-of-type(3){
  width: 1em;
  height: 4em;
  top: 1em;
  left: 0em;
}
._5 span:nth-of-type(4){
  width: 1em;
  height: 5em;
  top: 4em;
  right: 0em;
}
._5 span:nth-of-type(5){
  width: 5em;
  height: 1em;
  top: 4em;
  right: 0em;
}
._5 span:nth-of-type(6){
  width: 1em;
  height: 3em;
  bottom: 0em;
  left: 0em;
}
._5 span:nth-of-type(7){
width: 3em;
height: 1em;
bottom: 3em;
left: 0em;
}

._5 span:nth-of-type(8){
width: 1em;
height: 2em;
bottom: 2em;
left: 3em;
}
._6{
  width: 6em;
  height: 10em;
}
._6 span:nth-of-type(1){
  width: 6em;
  height: 1em;
  bottom: 0em;
  left: 0em;
}
._6 span:nth-of-type(2){
  width: 1em;
  height: 9em;
  bottom: 0em;
  left: 0em;
}
._6 span:nth-of-type(3){
  width: 6em;
  height: 1em;
  top: 1em;
  left: 0em;
}
._6 span:nth-of-type(4){
  width: 1em;
  height: 4em;
  bottom: 1em;
  right: 0em;
}
._6 span:nth-of-type(5){
  width: 4em;
  height: 1em;
  bottom: 4em;
  right: 0em;
}
._6 span:nth-of-type(6){
  width: 1em;
  height: 2em;
  bottom: 3em;
  left: 2em;
}
._7{
  width: 5em;
  height: 10em;
}

._7 span:nth-of-type(1){
  width: 5em;
  height: 1em;
  top: 1em;
  right: 0em;
}
._7 span:nth-of-type(2){
  width: 1em;
  height: 9em;
  top: 1em;
  right: 0em;
}
._8{
  width: 6em;
  height: 10em;
}
._8 span:nth-of-type(1){
  width: 1em;
  height: 9em;
  top: 1em;
  left: 0em;
}
._8 span:nth-of-type(2){
  width: 6em;
  height: 1em;
  top: 1em;
  left: 0em;
}
._8 span:nth-of-type(3){
  width: 6em;
  height: 1em;
  bottom: 0em;
  right: 0em;
}
._8 span:nth-of-type(4){
  width: 1em;
  height: 4em;
  bottom: 0em;
  right: 0em;
}
._8 span:nth-of-type(5){
  width: 1em;
  height: 4em;
  top: 1em;
  right: 0em;
}
._8 span:nth-of-type(6){
  width: 3em;
  height: 1em;
  top: 4em;
  right: 0em;
}
._8 span:nth-of-type(7){
  width: 3em;
  height: 1em;
  top: 6em;
  right: 0em;
}
._8 span:nth-of-type(8){
  width: 1em;
  height: 2em;
  top: 6em;
  right: 3em;
}
._8 span:nth-of-type(9){
  width: 1em;
  height: 2em;
  top: 3em;
  right: 3em;
}
._9{
  width: 6em;
  height: 9em;
}
._9 span:nth-of-type(1){
  width: 6em;
  height: 1em;
  top: 0em;
  right: 0em;
}
._9 span:nth-of-type(2){
  width: 1em;
  height: 9em;
  top: 0em;
  right: 0em;
}
._9 span:nth-of-type(3){
  width: 1em;
  height: 5em;
  top: 0em;
  left: 0em;
}
._9 span:nth-of-type(4){
  width: 3em;
  height: 1em;
  top: 4em;
  left: 0em;
}
._9 span:nth-of-type(5){
  width: 1em;
  height: 3em;
  top: 2em;
  left: 3em;
}
._9 span:nth-of-type(6){
  width: 1em;
  height: 1em;
  top: 2em;
  left: 2em;
}

._0 {
  width: 6em;
  height: 9em;
}

._0 span:nth-of-type(1) {
  height: 9em;
  width: 1em;
  left: 0em;
  top: 0em;
}
._0 span:nth-of-type(2) {
  height: 9em;
  width: 1em;
  left: 5em;
  top: 0em;
}
._0 span:nth-of-type(3) {
  height: 1em;
  width: 5em;
  left: 1em;
  top: 0em;
}
._0 span:nth-of-type(4){
  height: 1em;
  width: 5em;
  left: 1em;
  bottom: 0em;
}
.question{
  height: 10em;
  width: 6em;
}
.question span:nth-of-type(1) {
height: 1em;
width: 6em;
top: 0em;
left: 0em;
}
.question span:nth-of-type(2) {
height: 3em;
width: 1em;
top: 0em;
right: 0em;
}
.question span:nth-of-type(3) {
height: 1em;
width: 5em;
top: 3em;
right: 0em;
}
.question span:nth-of-type(4) {
height: 2em;
width: 1em;
top: 4em;
right: 4em;
}
.question span:nth-of-type(5) {
height: 2em;
width: 1em;
bottom: 0em;
left: 0em;
}
.question span:nth-of-type(6) {
height: 1em;
width: 2em;
bottom: 0em;
left: 0em;
}
.question span:nth-of-type(7) {
height: 2em;
width: 1em;
bottom: 0em;
left: 2em;
}
.question span:nth-of-type(8) {
height: 1em;
width: 2em;
bottom: 2em;
left: 0em;
}

.exclamation{
  height: 10em;
  width: 3em;
}
.exclamation span:nth-of-type(1) {
height: 6em;
width: 1em;
top: 0em;
left: 1em;
}
.exclamation span:nth-of-type(2) {
height: 2em;
width: 1em;
right: 0em;
bottom: 0em;
}
.exclamation span:nth-of-type(3) {
height: 1em;
width: 2em;
bottom: 0em;
left: 0em;
}
.exclamation span:nth-of-type(4) {
height: 2em;
width: 1em;
bottom: 0em;
left: 0em;
}
.exclamation span:nth-of-type(5) {
height: 1em;
width: 2em;
bottom: 2em;
right: 1em;
}
.period{
  height: 3em;
  width: 3em;
}
.period span:nth-of-type(1) {
height: 3em;
width: 1em;
top: 0em;
left: 0em;
}
.period span:nth-of-type(2) {
height: 2em;
width: 1em;
top: 0em;
right: 0em;
}
.period span:nth-of-type(3) {
height: 1em;
width: 3em;
bottom: 0em;
right: 0em;
}
.period span:nth-of-type(4) {
height: 1em;
width: 1em;
bottom: 2em;
right: 1em;
}
.comma{
  margin-bottom: 0em !important;
  height: 5em;
  width: 3em;
}
.comma span:nth-of-type(1) {
height: 1em;
width: 3em;
bottom: 2em;
right: 0em;
}
.comma span:nth-of-type(2) {
height: 2em;
width: 1em;
bottom: 2em;
right: 0em;
}
.comma span:nth-of-type(3) {
height: 2em;
width: 1em;
bottom: 2em;
left: 0em;
}
.comma span:nth-of-type(4) {
height: 1em;
width: 2em;
top: 0em;
left: 0em;
}
.comma span:nth-of-type(5) {
height: 2em;
width: 1em;
bottom: 0em;
right: 0em;
}


/* Standard syntax */
@keyframes blink-pulse {
  0% {
    transform: scale(1);
    background-color: pink;
  }
  100% {
    transform: scale(1.15);
    background-color: yellow;
  }
}
