body {

}
.letter {
	width: 200px;
	height: 300px;
	position: relative;
	display: inline-block;
	color: #000000;
	margin: 50px;
}

/* pieces */

/* a */

/*
style the left
vertical stroke in
'a' by combining
classes
*/

.vertical {
	width: 24px;
	height: 100px;
	background: #000000;
	position: absolute;
}

.horizontal {
	width: 100px;
	height: 60px;
	background: black;
	position: absolute;
}


#a .vertical.stem.7.blocks {
  left: 175px;
	top: 127px;
}
