html{
	scroll-behavior: smooth;
	background-color: darkolivegreen;
}

body {
	margin: 0 auto;
	max-width: 650px;
	background-color: darkgreen;
	box-shadow: 0 0 20px black;
}

header {
	background-color: darkslategrey;
	border-bottom: 3px ridge darkolivegreen;
}

header ul {
	list-style-type: none;
	text-align: right;
}

header li, header a {
	display: inline-block;
}

header li a {
	padding: 8px 15px;
	color: gold;
	margin: 3px;
	text-decoration: none;
	transition: color 0.25s, background-color 0.25s;
}

header li a:hover {
	color: darkslategrey;
	background-color: gold;
}

h1 {
	font-size: 3em;
	font-family: Roboto, sans-serif;
	color: gold;
	margin: 10px;
	text-shadow: 0 0 3px black;
}

h2 {
	font-size: 0.75em;
	font-family: Roboto, sans-serif;
	color: black;
	margin: 50px 0 20px 0;
	padding: 4px;
	background-color: gold;
	text-align: center;
	border-top: 2px ridge darkolivegreen;
	border-bottom: 2px ridge darkolivegreen;
}

p {
	color: gold;
	text-shadow: 0 0 1px black;
	margin: 10px;
}

section {
	text-align: center;
}

section a {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: white;
	vertical-align: top;
	position: relative;
}

section img {
	max-width: 200px;
	max-height: 200px;
}

footer {
	text-align: center;
	padding: 50px 0 25px 0;
}

footer p {
	font-size: 0.75em;
}
