html{
scroll-behavior: smooth;
}
#navigation {
  position: sticky;
  background-color: green;
  top: 0px;
  padding-left: 100px;
  display: block;
  align-self: center;
  height: 30px;
  width: 100%;
}

li{
  display: inline;
  padding-left: 10px;
}
body {
  background: #89CFF0;
font-family: 'Abril Fatface', cursive;

}
h1 {
  /* here I'm making the title not bold (by default headings are always bold)
     centered, larger, tighter leading, and with some bottom space or margin */
  font-weight: normal;
  text-align: center;
  font-size: 20;
  line-height: 1.1;
  margin-bottom: 2em;
}
 p{
   padding-left: 100px;
   padding-right: 100px;
 }

h2 {
  /* here I'm making my section headers very clear with a white background.
     added some padding and removed the default bold again, and
     added some top margin */
  background: white;
  padding: 0.5em;
  font-weight: bolder;
  color: #587E20;
  margin-top: 2em;
  text-align: center;
}
p {
 text-align: center;
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#header {
   background: purple;
   width: 75%
   height: 60px;
   position: fixed;
   left: 0;
   x-index: 50000
   box-shadow 0 0 10px  rgba(0,255,0,.5);
}
#green{

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
  z-index: -1;

}
#tree{
  z-index: 1000;
  background: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#mountain {
  position: relative;
  text-align: center;
}
