body {
  background: lime;
font-family: 'Abril Fatface', cursive;

}
h1 {
  /* here I'm making the title not bold (by default headings are always bold)
     centered, larger, tighter leading, and with some bottom space or margin */
  font-weight: normal;
  text-align: center;
  font-size: 5em;
  line-height: 1.1;
  margin-bottom: 2em;
}


h2 {
  /* here I'm making my section headers very clear with a white background.
     added some padding and removed the default bold again, and
     added some top margin */
  background: white;
  padding: 0.5em;
  font-weight: bolder;
  color: #587E20;
  margin-top: 2em;
}


img {
  max-width: 50%;
  transform: 50%;
}

p {
text-align: center;
size: 30;
}
