
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}


/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: white;
}

/* shapes */



    #rectanglea {
         width: 150px;
         height: 300px;
         background: #013220;

         /* position the rectangle in the left of the flag*/
         position: absolute;
         top: 0px;
         left: 0px;
}
#rectangleb {
     width: 160px;
     height: 300px;
     background: red;

     /* position the rectangle in the left of the flag*/
     position: absolute;
     top: 0px;
     left: 340px;
}

#Seal_of_the_Government_of_Mexico.svg.png"{
  width: 2px;
  height: 1px;

  /* position the image in the center of the flag */
  position: relative;
  top: 5px;
  left: 4px;
}
