
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}


/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: white;
      }
      /* shapes */

#circle2 {
        width: 120px;
        height: 120px;

        background-image: white;

        border-radius: 75px;
        /* position the circle in the center of the flag */
        position: absolute;
        top: 97px;
        left: 180px;
        z-index: 100;
        -webkit-animation-name: blink; /* Safari 4.0 - 8.0 */
 -webkit-animation-duration: .6s; /* Safari 4.0 - 8.0 */
 -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
 -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
 animation-name: blink;
 animation-duration: 3s;
 animation-iteration-count: infinite;
  animation-direction: alternate;
}
}


#circle {
     width: 150px;
     height: 150px;
     background: white;
     border-radius: 75px;
     /* position the circle in the center of the flag */
     position: absolute;
     top: 83px;
     left: 165px;
}

#rectangleb {
     width: 200px;
     height: 20px;
     background: white;
     position: absolute;
     top: 30px;
     left: 160px;
}

#rectanglec {
     width: 20px;
     height: 200px;
     background: white;
     position: absolute;
     top: 30px;
     left: 350px;
}

#rectanglea {
     width: 500px;
     height: 300px;
     background-image: white;
     -webkit-animation-name: blink; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: .4s; /* Safari 4.0 - 8.0 */
-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
-webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
animation-name: blink;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes blink {
 from { background-color: #B55065; }
 to { background-color: #66378D; }
 to {background-color: #FFA500; }
}

/* Standard syntax */
@keyframes blink {
 from { background-color: #66378D; }
 to { background-color: #B55065; }
 to {background-color: #FFA500; }
}
